.ac_results {
	padding: 0px;
	border: #ccc 1px solid;
	border-collapse:separate;
	background-color: #eaebec;
	overflow: hidden;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
 
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	color: #666;
	font-family:Arial, Helvetica, sans-serif;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;

}

.ac_loading {
	background: #dadadaurl('../images/indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #d6d6d6;
	color: #ffffff;
}

.ac_over {
	background-color: #f6f4f4;
	color: #ffffff;
}


.input_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:1px solid #e0e0e0;
	padding:2px;
	width:150px;
	color:#000;
	background:#ededed;
	padding-left:17px;
}
